.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 3em;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.loader,
.loader:before,
.loader:after {
  animation: 1s infinite ease-in-out;
}
.loader:before,
.loader:after {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.loader-black {
  background-color: var(--dark-blue);
}

.loader-1 {
  animation-name: loader1;
}
@keyframes loader1 {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}
.loading_wrapper {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #fcf9fe,
    #fbf2fa,
    #fdeaf4,
    #ffe3eb
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader2:before,
.loader2:after {
  content: "";
}
.loader2:before {
  border: 1px solid var(--dark-blue);
  top: -1px;
  left: -1px;
  opacity: 0;
  animation-name: loader2-1;
}

@keyframes loader2-1 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 0;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

.loader2:after {
  background-color: var(--dark-blue);
  animation-name: loader2-2;
}

@keyframes loader2-2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
