.testimonial_section {
  padding-bottom: 0;
}
.section {
  position: relative;
  margin-top: 2rem;
}
.section > img {
  width: 100%;
  object-fit: cover;
}
.carousel {
  overflow: hidden;
  height: 28rem;
  width: 40rem;
  background: red;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99999;
  background: var(--white);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 2rem;
}
@media screen and (max-width: 932px) {
  .section > img {
    display: none;
  }
  .carousel {
    position: relative;
    width: 100%;
    height: 23rem;
  }
  .testimonial_section {
    padding-bottom: 5rem;
  }
}
@media screen and (max-width: 705px) {
  .carousel {
    height: 26rem;
  }
}
@media screen and (max-width: 463px) {
  .carousel {
    height: 28rem;
  }
}
@media screen and (max-width: 433px) {
  .carousel {
    height: 30rem;
  }
}
@media screen and (max-width: 320px) {
  .carousel {
    height: 30rem;
    width: 32rem;
  }
}
