.img_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.img_container > img {
  max-width: 100%;
}
@media screen and (max-width: 532px) {
  .img_container {
    display: none;
  }
}
